In [1]:
import pyrebase
import json
import pandas as pd

with open('../.streamlit/secrets.txt') as f:
    lines = f.read()
config = json.loads(lines)

firebase = pyrebase.initialize_app(config)

In [2]:
auth = firebase.auth()
db = firebase.database()
storage = firebase.storage()

In [4]:
user = auth.create_user_with_email_and_password("sebastien.mauroo@patrick.com","123456")

In [98]:
try:
    signin = auth.sign_in_with_email_and_password("sebastien.mauroo@outlook.com","1234567")
except:
    signin ={"login failed"}

In [99]:
signin

{'kind': 'identitytoolkit#VerifyPasswordResponse',
 'localId': '8Ghnt52aWANjzWEUTwhWpFkp8832',
 'email': 'sebastien.mauroo@outlook.com',
 'displayName': '',
 'idToken': 'eyJhbGciOiJSUzI1NiIsImtpZCI6IjE1YzJiNDBhYTJmMzIyNzk4NjY2YTZiMzMyYWFhMDNhNjc3MzAxOWIiLCJ0eXAiOiJKV1QifQ.eyJpc3MiOiJodHRwczovL3NlY3VyZXRva2VuLmdvb2dsZS5jb20vbXktZmlyc3QtcHJvamVjdC00ZGY1NiIsImF1ZCI6Im15LWZpcnN0LXByb2plY3QtNGRmNTYiLCJhdXRoX3RpbWUiOjE2NzcxNzIxNTEsInVzZXJfaWQiOiI4R2hudDUyYVdBTmp6V0VVVHdoV3BGa3A4ODMyIiwic3ViIjoiOEdobnQ1MmFXQU5qeldFVVR3aFdwRmtwODgzMiIsImlhdCI6MTY3NzE3MjE1MSwiZXhwIjoxNjc3MTc1NzUxLCJlbWFpbCI6InNlYmFzdGllbi5tYXVyb29Ab3V0bG9vay5jb20iLCJlbWFpbF92ZXJpZmllZCI6dHJ1ZSwiZmlyZWJhc2UiOnsiaWRlbnRpdGllcyI6eyJlbWFpbCI6WyJzZWJhc3RpZW4ubWF1cm9vQG91dGxvb2suY29tIl19LCJzaWduX2luX3Byb3ZpZGVyIjoicGFzc3dvcmQifX0.OAacqxj5HjD5JvF9Y8-QQs2gBq8aXecHun4lzPRz3NEKFwpzvgSwB-zPaRI20uzxAXncEsl8JChWn1ISwQfDHyPrD-8Zz9KUu4kPivlv6ZllxN0csx-TnOoDJeqrDm_CfxmF1VaqhsH7lwCOViLQw2vEcNILaHxY6T2e7nZ__nX1fo_fD-Tbw6hYSWfTwWkKr600bwW1lzDkFMD23JeROT1QRowHN3uMQwuoCC2gYoou2M28RQLJRo-mWXmujzvvbiodZ_68DRFZmhfqSuajfA5DZ-crwDTb9ikdLjF6pK8jnPsPh86kuo9ZaoBm9mAvWHD048eZsdVNmCcrRFoXAg',
 'registered': True,
 'refreshToken': 'APJWN8cjhuzCzHs586zMXjX9Ug5MNl6Anf2C9_FayBVjDisDXtM3OcirRaVt1iQYYatleWQk-sebfAFwhdVCq107w1moTOudw0qCPgcE36myhjQgSEe_a5Rlxjdtzo9LXk8aRAd9tCi3IieZi5L20-hu7CI0LoYAYyWh3c3PxFmhPEpQy9KdvLAEpDstVoqXvhiJH2JnPJETGjowxtUSTQx5-HKAD5Ipuels15Q1Lb4UXxMmfCRXiP7DvnkQL-JYkkjckRxlnN-o',
 'expiresIn': '3600'}

In [ ]:
firebase.auth().send_email_verification(signin['idToken'])

In [112]:
firebase.auth().send_password_reset_email("sebastien.mauroo@outlook.com")

{'kind': 'identitytoolkit#GetOobConfirmationCodeResponse',
 'email': 'sebastien.mauroo@outlook.com'}

In [100]:
auth.get_account_info(signin['idToken'])

{'kind': 'identitytoolkit#GetAccountInfoResponse',
 'users': [{'localId': '8Ghnt52aWANjzWEUTwhWpFkp8832',
   'email': 'sebastien.mauroo@outlook.com',
   'passwordHash': 'UkVEQUNURUQ=',
   'emailVerified': True,
   'passwordUpdatedAt': 1677172127749,
   'providerUserInfo': [{'providerId': 'password',
     'federatedId': 'sebastien.mauroo@outlook.com',
     'email': 'sebastien.mauroo@outlook.com',
     'rawId': 'sebastien.mauroo@outlook.com'}],
   'validSince': '1677172127',
   'lastLoginAt': '1677172150895',
   'createdAt': '1677102536535',
   'lastRefreshAt': '2023-02-23T17:09:10.895Z'}]}

In [108]:
data = {"name": "Mortimer 'Morty' Smith"}
db.child("test").set(data)

{'name': "Mortimer 'Morty' Smith"}

In [8]:
dt = pd.read_csv("Verbruikshistoriek_elektriciteit_541448860008410850_20221014_20230227_kwartiertotalen.csv",delimiter=';')

In [9]:
dt

,Van Datum,Van Tijdstip,Tot Datum,Tot Tijdstip,EAN,Meter,Metertype,Register,Volume,Eenheid,Validatiestatus
0,14-10-2022,00:00:00,14-10-2022,00:15:00,"=""541448860008410850""",1SAG3100010760,Digitale Meter,Afname Nacht,NaN,kWh,Geen verbruik
1,14-10-2022,00:00:00,14-10-2022,00:15:00,"=""541448860008410850""",1SAG3100010760,Digitale Meter,Injectie Nacht,NaN,kWh,Geen verbruik
2,14-10-2022,00:15:00,14-10-2022,00:30:00,"=""541448860008410850""",1SAG3100010760,Digitale Meter,Afname Nacht,"0,093",kWh,Gevalideerd
3,14-10-2022,00:15:00,14-10-2022,00:30:00,"=""541448860008410850""",1SAG3100010760,Digitale Meter,Injectie Nacht,"0,000",kWh,Gevalideerd
4,14-10-2022,00:30:00,14-10-2022,00:45:00,"=""541448860008410850""",1SAG3100010760,Digitale Meter,Afname Nacht,"0,120",kWh,Gevalideerd
...,...,...,...,...,...,...,...,...,...,...,...
26115,26-02-2023,23:15:00,26-02-2023,23:30:00,"=""541448860008410850""",1SAG3100010760,Digitale Meter,Injectie Nacht,"0,000",kWh,Gevalideerd
26116,26-02-2023,23:30:00,26-02-2023,23:45:00,"=""541448860008410850""",1SAG3100010760,Digitale Meter,Afname Nacht,"0,125",kWh,Gevalideerd
26117,26-02-2023,23:30:00,26-02-2023,23:45:00,"=""541448860008410850""",1SAG3100010760,Digitale Meter,Injectie Nacht,"0,000",kWh,Gevalideerd
26118,26-02-2023,23:45:00,27-02-2023,00:00:00,"=""541448860008410850""",1SAG3100010760,Digitale Meter,Afname Nacht,"0,126",kWh,Gevalideerd
26119,26-02-2023,23:45:00,27-02-2023,00:00:00,"=""541448860008410850""",1SAG3100010760,Digitale Meter,Injectie Nacht,"0,000",kWh,Gevalideerd